body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #ececec; */
    background: rgba(233, 0, 194,0.4);
}

.calculator {
    background-color:#eaedef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 25rem;
    height: 28rem;
}

.display {
    width: 100%;
    height: 66px;
    margin-bottom: 10px;
    margin-right: 5rem;
    text-align: right;
    font-size: 24px;
    /* padding: 10px; */
   margin-right: 2rem;
    background-color: #fffcfc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    margin: 9px;
    padding: 15px;
    font-size: 18px;
    background-color: #5f7d8c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff0202;
}

button:active {
    background-color: #444;
}